name: MagentoCoreComposerInstaller

on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [7.0, 7.1, 7.2, 7.3, 7.4, 8.0]

    name: PHP ${{ matrix.php }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2

      - name: Install Dependencies
        run: composer install

      - name: Run phpunit tests
        run: |
          mkdir -p build/logs
          vendor/bin/phpunit --coverage-clover ./build/logs/clover.xml

      - name: Run phpcs
        run: |
          vendor/bin/phpcs --standard=PSR2 ./src/
          vendor/bin/phpcs --standard=PSR2 ./test/
